.git
.gitignore
.env
.env.backup
.env.production
.idea
.vscode
.fleet
.nova
.zed
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
*.md
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
